/* Base Styles */
/* Estilos base e padrões gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
    color: #333333;
    min-height: 100vh;
    line-height: 1.5;
    scroll-behavior: smooth;
}

.hero-buttons{
   display: flex;
    gap: 16px;
}
.btn{
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    color: #ffffff;
    font-weight: 400;
    padding: 10px 20px;
    transition: background-color 0.3s ease, border0.3s;
}

.btn-outline{
    background-color: transparent;
    border: 2px solid #ffffff;
    line-height: 23px;
}

.btn-filled{
    background-color: #ffffff;
    color: #6329a2;
}
.btn:hover{
    background-color: #6329a2;
    color: #ffffff;
    border-color: #6329a2;

}